.wrapper {
  width: 1.46rem;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.date {
  position: relative;
  font-size: 12.8px;
  font-weight: 500;
  color: #171717;
  line-height: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content:  center;
  width: 1.6rem;
  height: 1.6rem;
  //margin: 6px 7px;p
  //margin: 3px 3px;
}

.today {
  background: #49bde3;
  color: #fff;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.25rem;
  padding: 0 0.14rem;
  box-shadow: inset 0 1px 2px #3694b2, 0 1px 1px #fff;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.55rem;
  margin-top: 0.9rem;
}

.bars {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 3.25rem;
  width: 100%;

}

.bar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.tracked {
  background-color: #11b64a;
}

.untracked {
  background-color: #cacaca;
}

.weekendBar {
  background-color: #cacaca;
}

.emptySpot {
  height: 3.2rem;
  width: 100%;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  line-height: 1;
  color: #111;
  width: 100%;

}
