.blue-btn {
  padding: 5px;
  min-width: 60px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: #fff;
  text-shadow: #005b79 0 1px 1px;
  background: #71afc3;
  background: linear-gradient(#afdae8, #5495ab);
  border-radius: 4px;
  border: 1px solid #53899a;
  cursor: pointer;
  box-shadow: 0 1px 1px #e6e6e6, inset 0 0 1px #afdae8;
  font: normal 14px Arial, Tahoma, Verdana, sans-serif;
}